name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pack extension
        run: |
          zip -r RemoveDeadLink.zip manifest.json background.js ui _locales store icons
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: RemoveDeadLink.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}